/*////////////////////////////////////////*/
/*______________PROGRESSBAR_______________*/
/*////////////////////////////////////////*/

.progress
{
	height:15px;
	width:100%;
}

.progress *
{
	float:left;
	height: 100%;
	transition:width 1s;
}